.intro {
  margin: 92px auto;
}

.intro__content {
  max-width: 830px;
  margin: 0 auto;
}

.intro__title {
  margin: 0 0 40px;

  font-size: 54px;
  font-weight: 900;
  line-height: 1.08;
}

.intro__text {
  margin: 0;

  font-size: 24px;
  line-height: 1.42;
}

.intro__quote {
  margin: 10px 0 32px;

  font-size: 24px;
  line-height: 1.42;
  text-align: right;
}

.intro__description {
  margin: 0;

  font-size: 16px;
  line-height: 1.63;
}

@media screen and (max-width: 768px) {
  .intro__content {
    max-width: 720px;
  }

  .intro__title {
    max-width: 707px;
    font-size: 45px;
    line-height: 49px;
  }

  .intro__text {
    font-size: 16px;
    line-height: 1.63;
  }
}

@media screen and (max-width: 320px) {
  .intro__content {
    max-width: 288px;
  }

  .intro__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }

  .intro__text {
    font-size: 24px;
    line-height: 30px;
  }
}