.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  margin: 90px 0 32px;
  max-width: 720px;

  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
  text-align: center;
}

.lead__subtitle {
  margin: 0 0 64px;
  max-width: 720px;

  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

.lead__image {
  width: 100%;
  max-width: 984px;
  display: block;
}

@media screen and (max-width: 768px) {
  .lead__title {
    max-width: 530px;
    font-size: 75px;
    line-height: 79px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 228px;
    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }
}