@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");

@import url("../blocks/header.css");
@import url("../blocks/lead.css");
@import url("../blocks/intro.css");
@import url("../blocks/footer.css");

body {
  margin: 0;
  background-color: #2a2c2f;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
}

@media screen and (max-width: 768px) {
.lead__title {
    font-size: 75px;
    line-height: 79px;
    max-width: 530px;
  }

.intro__content {
    max-width: 720px;
}

.intro__title {
    max-width: 707px;
    font-size: 45px;
    line-height: 49px;
}

.intro__text {
    font-size: 16px;
    line-height: 1.63;
}
}

@media screen and (max-width: 320px) {
    .lead__title {
    max-width: 228px;
    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
}

.intro__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
}

.intro__content {
    max-width: 288px;
}

.intro__text {
    font-size: 24px;
    line-height: 30px;
}

}

